.period .box-item {
  display: flex;
  align-items: center;
  margin-top: 1em;
}

.period label {
  flex: 0 0 2em;
  text-align: right;
  margin: 0 .5em;
}

.period .label-time {
  flex-basis: 4em;
}

.period .input-date {
  width: 8em;
}

input {
  height: 2em;  
}

.error {
  color: red;
  font-weight: bold;
  margin-top: .5em;
  margin-bottom: -.5em;
}