<div class="period box-edit" (focusout)="leave()">
  <div class="header-for-box-edit"><ng-content></ng-content></div>
  <div>
    <div class="box-item">
      <label class="label-date">Von</label>
      <input type="text" class="input-date" 
        [(ngModel)]="dateFrom" 
        ngbDatepicker #datePickerFrom="ngbDatepicker"
        [startDate]="startDateForDatePicker"
        (change)="changeFrom()"
        (dateSelect)="changeFrom()"
      />
      <img 
        src="assets/images/calendar.svg" 
        class="clickable-icon sizeBig"
        (click)="datePickerFrom.toggle()"
      />
      <label class="label-time">Beginn</label>
      <ngb-timepicker [(ngModel)]="timeFrom" 
        spinners="" required size="small"
        (change)="changeFrom()"
      ></ngb-timepicker>
    </div>
    <div class="box-item">
      <label class="label-date">Bis</label>
      <input type="text" class="input-date" 
        [(ngModel)]="dateTo" 
        ngbDatepicker #datePickerTo="ngbDatepicker"
        (change)="changeTo()"
        (dateSelect)="changeTo()"
      />
      <img 
        src="assets/images/calendar.svg" 
        class="clickable-icon sizeBig"
        (click)="datePickerTo.toggle()"
        >
        <label class="label-time">Ende</label>
        <ngb-timepicker [(ngModel)]="timeTo"
          spinners="" required size="small"
          (change)="changeTo()"
        ></ngb-timepicker>
    </div>
  </div>
  <div class="error">{{error}}</div>
</div>
