  <div class="box-intro">
    <h1>Willkommen in der Mentoring Workbench</h1>
  </div>
  
  <div class="clear-both">
  </div>

  <div class="box page-box">
    <p>
      Herzlich Willkommen auf der Mentoring Workbench des Forschungsprojektes <i>tech4compKI</i>. 
    </p>
    <p>
      Im Rahmen des Projektes werden Angebote zur mentoriellen Begleitung im Studium entwickelt 
      und erprobt.
    </p>
    <p>
      Bei der Nutzung der Mentoring Workbench und ihrer Werkzeuge werden personenbezogene Daten 
      verarbeitet. Die Verarbeitung der Daten unterliegt dem geltenden Recht nach DSGVO.
    </p>
    <p>
      Ihre Daten werden im System <i>Learning Layers</i> gespeichert.<br/>
      Sie werden daher bei Nutzung des Angebots gebeten, sich bei <i>Learning Layers</i> zu registrieren.
    </p>

    <div><a [routerLink]="['/overview']" class="btn box-btn mt-2">zur Übersicht der Mentoring Workbench</a></div>
</div>
