<div class="flex-container">
  <intervention-rocket-chat 
    [botName]="botNameRocketChat"
  ></intervention-rocket-chat>

  <intervention-bot-info-texts 
    [interventionInfo]="interventionInfo"
    [botInfo]="botInfo"
  ></intervention-bot-info-texts>
</div>
