.box-label {
  clear: both;
  margin-bottom: -.6em;
  margin-left: 1em;
  font-weight: bold;
}

label {
  display: block;
  margin-top: 1em;
}

input:not(.btn) {
  width: 100%;
}

.buttons {
  float: right;
  margin-top: 1em;
}

.nav-link img.clickable-icon {
  display: none;
}

.nav-link.active img.clickable-icon {
  display: inline;
}

.box.add {
  border-radius: 4px;
  min-width: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}