<app-resource-info class="box-intro" 
  [resourceInfo]="resourceInfo" 
  [isValidResource]="isValidResource"
></app-resource-info>

<div *ngIf="isValidResource">

  <div class="box-label">
    {{getShortText()}} konfigurieren
    <img 
      src="assets/images/question.svg" 
      class="clickable-icon"
      (click)="showHelpForIntervention()"
    >
  </div>

  <div class="box">  
    <label for="editorName">Bezeichnung</label>
    <input type="text" id="editorName" [(ngModel)]="interventionInfo.name">

    <ul ngbNav #nav="ngbNav" class="mt-4 nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Beschreibung
        <img 
          src="assets/images/question.svg" 
          class="clickable-icon"
          (click)="showHelpForDescriptionText()"
        ></a>
        <ng-template ngbNavContent>
          <angular-editor id="editorDescription" [(ngModel)]="interventionInfo.description" 
            [config]="editorConfig"
          ></angular-editor>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Willkommenstext      <img 
          src="assets/images/question.svg" 
          class="clickable-icon"
          (click)="showHelpForWelcomeText()"
        ></a>
        <ng-template ngbNavContent>
          <angular-editor id="editorIntro" [(ngModel)]="interventionInfo.introText" 
            [config]="editorConfig"
          ></angular-editor>
        </ng-template>
      </li>
      <li ngbNavItem>
        <a ngbNavLink>Hinweistexte<img 
          src="assets/images/question.svg" 
          class="clickable-icon"
          (click)="showHelpForHints()"
        ></a>
        <ng-template ngbNavContent>
          <angular-editor id="editorHints" [(ngModel)]="interventionInfo.hints" 
            [config]="editorConfig"
          ></angular-editor>
        </ng-template>
      </li>
      <li *ngIf="isWritingTasksIntervention" ngbNavItem>
        <a ngbNavLink>Löschhinweis<img 
          src="assets/images/question.svg" 
          class="clickable-icon"
          (click)="showHelpForEraseWarning()"
        ></a>
        <ng-template ngbNavContent>
          <angular-editor id="editorErase" [(ngModel)]="interventionInfo.eraseWarning" 
            [config]="editorConfig"
          ></angular-editor>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>

    <div class="mt-2" *ngIf="botInfo">
      <app-simple-bot-edit [(botName)]="botInfo.nameFramework">
      </app-simple-bot-edit>
    </div>

    <div class="buttons">
      <a class="btn" [routerLink]="['/mentor/resource/', interventionInfo.resourceId, 'interventions']">Abbrechen</a>
      <input class="btn ml-1" type="button" value="Speichern" 
        (click)="save()" 
      >
    </div>

    <div class="clear-both"></div>

    <div *ngIf="IsInterventionWithDetails()">
      <h4>Vorhandene {{interventionItemsName}}</h4>
      <div *ngIf="hasDetails">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col"></th>
              <th scope="col">zuletzt bearbeitet</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let interventionItem of interventionItems">
              <td>
                {{forceName(interventionItem.name)}}
              </td>
              <td>
                {{getVisibilityForItem(interventionItem)}}
              </td>
              <td>
                {{interventionItem.lastChanged | date }}
              </td>
              <td><a [routerLink]="['/mentor/', interventionEnumType+'Item', interventionItem.id]"><img 
                src="assets/images/pencil.svg" 
                class="clickable-icon"
              ></a>
              </td>
              <td><img 
                src="assets/images/garbage-bin.svg" 
                class="clickable-icon"
                (click)="deleteInterventionItem(interventionItem)"
              ></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="btn" 
        (click)="createInterventionItem()"
        ngbTooltip="{{createInterventionItemText()}}"
        [openDelay]="300"
      >
        +
      </div>
    </div>     

    <div class="buttons">
      <a class="btn" [routerLink]="['/mentor/resource/', resourceId, 'interventions']">Zurück zur Mentoring Workbench</a>
    </div>

    <div class="clear-both"></div>
  </div>
</div>

<app-help #help></app-help>
