
  <div *ngIf="nrOfTasks >= 1" class="box history-box flex-container stretch">
    <div>
        <p class="icon"><img src="assets/images/book-icon.svg" /></p>
        <h3>Verlaufsprotokoll</h3>
    </div>
    <div *ngIf="!serviceAvailable">
        Der Service ist leider aktuell nicht verfügbar
    </div>
        <div *ngIf="nrOfTasks == 1; then singleTask"></div>
        <div *ngIf="nrOfTasks >= '2'; then multipleTasks"></div>
  </div>

  <ng-template #singleTask>
      <ng-container *ngFor="let record of recordList">
          <div class="pt-1">
              <b>{{recordTypeToText(record.fileInfo.analysisType)}}:</b> {{record.storedDisplay}} <img src="assets/images/garbage-bin.svg"
                  class="delete-icon" width="12"
                  (click)="deleteLRSitem(record.statementId)"><br>
          </div>
          <div *ngIf="record.fileInfo.analysisType == 'compareTwoTexts'; else downloadOneText" class="pt-1">
              <span class="pl-1">
                <a (click)="downloadTextFile(record.statementId,'text1',record.fileInfo.name1)"
                    class="link-to-file">{{record.fileInfo.name1}}</a>
                &mdash;
                <a (click)="downloadTextFile(record.statementId,'text2',record.fileInfo.name2)"
                    class="link-to-file">{{record.fileInfo.name2}}</a>
              </span>
          </div>
          <ng-template #downloadOneText>
              <div class="pt-1 pl-1">
                  <a (click)="downloadTextFile(record.statementId,'text', record.filename)"
                      class="link-to-file">{{record.filename}}</a>
              </div>
          </ng-template>
          <!--<div class="pt-1 pl-1">
              <a (click)="downloadTextFile(record.statementID,'feedback','application/pdf')"
                  class="link-to-file">Feedback.pdf</a>
          </div>-->
      </ng-container>
  </ng-template>

  <ng-template #multipleTasks>
      <div *ngIf="hasRecords()">
        <a (click)="switchSort()" class="link-to-file">Nach {{switchSortText()}} sortieren</a>
      </div>
      <div *ngIf="hasRecords()" class="history-list">
          <div *ngFor="let recordNumber of sortedIndices; index as i">
              <div *ngIf="recordNumber == -1; else showRecord">
                  <div class="recordCluster">
                      {{getRecordClusterHeader(recordList[sortedIndices[i + 1]])}}
                  </div>
                </div>
              <ng-template #showRecord>
                  <div>
                      <img src="assets/images/garbage-bin.svg" class="delete-icon" width="12"
                      (click)="deleteLRSitem(recordList[recordNumber].statementId)">
                      <b> {{getTaskHeader(recordList[recordNumber])}}: </b>
                      <a (click)="downloadTextFile(recordList[recordNumber].statementId,'text', recordList[recordNumber].filename)"
                          class="link-to-file">{{recordList[recordNumber].filename}}</a>
                  </div>
                  <!--<div class="pl-1">
                      <p>(Feedback nicht gespeichert)</p>
                  </div>-->
              </ng-template>
        </div>
      </div>
  </ng-template>

