.btn-intervention .progress-circle {
  margin: auto;
}

.search-component.box {
  font-size: 1em;
}

.search.btn.btn-intervention {
  cursor: default;
  text-align: left;
  margin: 0;
  padding: 5px;
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}
