<app-resource-info class="box-intro" 
  [resourceInfo]="resourceInfo" 
  [isValidResource]="isValidResource"
></app-resource-info>

<div *ngIf="resourceInfo">
  <div class="intervention-list clear-both">
    <div *ngFor="let intervention of interventions; index as i; first as isFirst">
      <a href="#/intervention/{{intervention.id}}" class="btn btn-intervention">
        <div class="cell-middle">
          <h2>{{intervention.name}}</h2>
          <p [innerHtml]="intervention.description"></p>
          <app-circular-progress-bar
            [total]="nrOfTasks[i]"
            [progress]="fulfilled[i]"
          ></app-circular-progress-bar>
         </div>
      </a>
    </div>
    <div class="clear-both"></div>
  </div>

  <div *ngIf="resourceInfo.searchId" class="search-component box _btn _btn-intervention">
    <mwb-search
      [searchId]="resourceInfo.searchId"
    ></mwb-search>
  </div>
</div>