<div class="box-edit">
  <div class="header-for-box-edit">Angaben zum Bot<img 
    src="assets/images/question.svg" 
    class="clickable-icon sizeBig"
    (click)="showBotInfo()"
  ></div>
  <label for="editSimpleBotNameFramework">Name</label>
  <input type="text" id="editSimpleBotNameFramework" [(ngModel)]="botName"  (change)="changeBotName()">
  <div class="clear-both"></div>
</div>

<app-help #help></app-help>