<div class="flex-container stretch botInfo">
  <div *ngIf="!isBotOnline" class="box">
    <p class="icon"><img src="assets/images/red_excl.svg" /></p>
    <p> <b>Der Chatbot auf dieser Seite ist leider gerade nicht verfügbar. Es scheint ein technisches Problem
        vorzuliegen. Bitte versuchen Sie es später noch einmal.</b></p>
  </div>

  <div *ngIf="interventionInfo.helpText" class="box">
    <p class="icon"><img src="assets/images/question.svg"/></p>
    <p [innerHtml]="interventionInfo.helpText | bypassSecurity" class="hintBox"></p>
  </div>

  <div *ngIf="interventionInfo.feedbackText" class="box">
    <p class="icon"><img src="assets/images/smily.svg"/></p>
    <p [innerHtml]="interventionInfo.feedbackText | bypassSecurity" class="hintBox"></p>
  </div>

  <!-- <div *ngIf="interventionInfo.interventionHints" class="box mb-2">
    <p class="icon"><img src="assets/images/bulb-icon.svg"/></p>
    <p [innerHtml]="interventionInfo.interventionHints | bypassSecurity" class="hintBox"></p>
  </div> -->
</div>

