<ng-container *ngIf='total != 0'>
  <ng-container *ngIf='total == 1 && progress == 0'>
    <p class="progress-symbol"><img src="assets/images/symbol_excl.svg" /></p>
  </ng-container>
  <div *ngIf='total > 1'>
    <div
      class="progress-circle {{over50(progress, total) ? 'over50' : ''}} p{{percentage(progress, total)}}">
      <span>{{progress < 0 ? '?' : progress}}/{{total}}</span>  
      <div class="left-half-clipper">
        <div class="first50-bar"></div>
        <div class="value-bar"></div>
      </div>
    </div>
  </div>
</ng-container>
