.intervention-info {
  width: 100%;
  padding-bottom: 1em;
  padding-left: 2em;
}

.intervention-info h2 {
  font-size: 1.8em;
  margin: 0;
}

.intervention-info .btn-back {
  border: none;
  cursor: pointer;
  background-color: transparent;
  float: left;
  padding: 0;
  margin-left: -20px;
  padding-top: 4px;
}

intervention-knowledge-graph {
  display: block;
  height: 40rem;
}


.search-component.box {
  font-size: 1em;
  margin-top: .5em;
}
