<app-resource-info class="box-intro" 
  [resourceInfo]="resourceInfo" 
  [isValidResource]="isValidResource"
></app-resource-info>

<div *ngIf="!isValidIntervention">
    <div class="clear-both">
        <h1>Fehler</h1>
        <p>Leider haben Sie nicht die richtige Intervention angegeben.</p>
        <a class="btn" [routerLink]="['/resource/', resourceId]">Zurück zur
            Übersicht</a>
    </div>
</div>

<div *ngIf="isValidResource && isValidIntervention">
    <div class="intervention-info clear-both">
        <div>
            <a [routerLink]="['/resource/', resourceId]" class="btn-back" *ngIf="!resourceInfo.onlyOneIntervention"><img
                    src="assets/images/back_triangle.svg" width="15"></a>
            <h4>{{interventionInfo.name}}</h4>
            <p [innerHtml]="interventionInfo.introText"></p>
        </div>
    </div>

    <div class="intervention-content clear-both">
        <ng-container [ngSwitch]="interventionInfo.type">
            <intervention-text-analysis 
                *ngSwitchCase="typeEnum.TextAnalysis" 
                [interventionInfo]="interventionInfo"
            ></intervention-text-analysis>
            <intervention-exam-feedback 
                *ngSwitchCase="typeEnum.ExamFeedback"
                [interventionInfo]="interventionInfo"
                class="flex-container"
            ></intervention-exam-feedback>
            <intervention-simple-bot
                *ngSwitchCase="typeEnum.SimpleBot"
                [interventionInfo]="interventionInfo"
            ></intervention-simple-bot>
            <intervention-knowledge-graph
                *ngSwitchCase="typeEnum.KnowledgeGraph"
                [interventionInfo]="interventionInfo"
            ></intervention-knowledge-graph>
            <intervention-text-analysis-knowledge-graph
                *ngSwitchCase="typeEnum.TextAnalysisWithKnowledgeGraph"
                [interventionInfo]="interventionInfo"
            ></intervention-text-analysis-knowledge-graph>
            <div *ngSwitchDefault>
                <h1>Fehler</h1>
                <p>Leider kann die Intervention nicht richtig angezeigt werden, der Typ der Intervention ist ungültig ({{interventionInfo.type}}).</p>
            </div>
        </ng-container>


        <div *ngIf="interventionInfo.searchId" class="search-component box">
            <mwb-search
            [searchId]="interventionInfo.searchId"
            ></mwb-search>
        </div>
  
    </div>
</div>