<app-resource-info class="box-intro" 
  [resourceInfo]="resourceInfo" 
  [isValidResource]="isValidResource"
></app-resource-info>

<div *ngIf="isValidResource && isValidIntervention">
  <div class="box-label">Intervention {{interventionInfo.name}}: Einzelne Schreibaufgabe konfigurieren
  </div>

  <div class="box">
    <label for="editorName">Bezeichnung</label>
    <input class="box-edit" type="text" id="editorName" [(ngModel)]="writingTaskInfo.name">
    
    <div class="mt-4"></div>

    <app-get-visibility
      #visibility
      [(visibility)]="writingTaskInfo.visible"
      [(from)]="writingTaskInfo.visibleFrom"
      [(to)]="writingTaskInfo.visibleTo"
    >Bearbeitungszeitraum</app-get-visibility>

    <label>Aufgabenstellung festlegen (wird noch nicht gespeichert)
      <img 
        src="assets/images/question.svg" 
        class="clickable-icon sizeBig"
        (click)="showHelpForWritingTask()"
      >
    </label>
    <app-get-var-text class="box-edit"
      [varText]="writingTaskInfo.task"
    ></app-get-var-text>

    <label>Vergleichsbasis festlegen (wird noch nicht gespeichert)
      <img 
        src="assets/images/question.svg" 
        class="clickable-icon sizeBig"
        (click)="showHelpForCompare()"
      >
    </label>
    <div class="box-edit comparison">
      <app-upload-file [(fileName)]="writingTaskInfo.compareToText"></app-upload-file>
      <input type="checkbox" id="peer" name="peer" [(ngModel)]="writingTaskInfo.enablePeerComparison">
      <label for="peer">Peervergleich ermöglichen</label><br>
    </div>


    <div class="mt-2">
      <a class="btn" [routerLink]="['/mentor/intervention/', interventionId]">Abbrechen</a>
      <div class="float-right">
        <input class="btn ml-1" type="button" value="Speichern & schließen" 
          [routerLink]="['/mentor/intervention/', interventionId]"
          (click)="save()" 
        >
      </div>
    </div>

    <div class="clear-both"></div>
  </div>

  <app-help #help></app-help>
</div>