.box-label {
  clear: both;
  margin-bottom: -1.1em;
  margin-left: 5em;
}

label {
  display: block;
  margin-top: 1em;
}

input:not(.btn) {
  width: 100%;
}

input[type='checkbox'], input[type='file'] {
  width: auto;
}

.float-right {
  float: right;
}

app-get-var-text {
  display: block;
}

.comparison label {
  display: inline;
  margin-left: 1em;
}

.comparison input {
  margin-left: 2em;
}

.comparison app-upload-file {
  float: left;
}