<input type="file" class="file-input"
  [attr.accept]="accept"
  (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">
  <button class="upload-btn"
    (click)="fileUpload.click()">
    Datei auswählen...
  </button>
  {{fileName || "Keine Datei ausgewählt"}}
  <button class="upload-btn" *ngIf="mayUpload"
    (click)="uploadFile()">
    Datei hochladen
  </button>
</div>
