<div class="main-component flex-container stretch">
    <div class="left-column">
        <intervention-rocket-chat 
            [botName]="botNameRocketChat"
        ></intervention-rocket-chat>
    </div>

    <div class="right-column flex-container">
        <intervention-knowledge-graph #knowledgeGraph
            [interventionInfo]="interventionInfo"
        ></intervention-knowledge-graph>

        <div class="history-and-info flex-container stretch">
            <intervention-text-analysis-history
                [interventionInfo]="interventionInfo"
                [knowledgeGraph]="knowledgeGraph"
            ></intervention-text-analysis-history>

            <intervention-bot-info-texts
                [interventionInfo]="interventionInfo"
                [botInfo]="botInfo"
            ></intervention-bot-info-texts>
        </div>
    </div>
</div>
