
.left-column {
  flex: 1 1 4rem;
}

.right-column {
  flex: 5 1 6rem;
  flex-direction: column;
}

intervention-knowledge-graph {
  min-height: 30rem;
}

.history-and-info {
  flex: 1 1 auto;
}


intervention-text-analysis-history {
  flex: 1 1 30%;
  height: 100%;
  max-height: 12em;
}

intervention-bot-info-texts {
  flex: 1 1 70%;
}
