<main>
  <div class="mwb-header flex-container">
    <div class="mwb-title blue-text" [innerHtml]="userInfo.title"></div>
    <div class="profile-info">
      <div *ngIf="isLoggedIn()">
        <div class="name">{{userInfo.name}}</div>
        <div *ngIf="userInfo.resourceId"><a href="#/privacy/resource/{{userInfo.resourceId}}" class="btn-links">Datenschutzerklärung</a></div>
        <button (click)="logout()" class="btn-links">Logout</button>
      </div>
    </div>
  </div>

  <router-outlet class="mwb-container flex-container"></router-outlet>
</main>

<footer>
  <div class="box-info-project grey-text">
    <p>Dieses Angebot wird im Projekt "tech4compKI - Personalisierte Kompetenzentwicklung und hybrides KI-Mentoring" entwickelt.
    </p>
  </div>
  <p class="version grey-text">Version: {{version}}, {{serviceVersion}}</p>
</footer>  
