main, footer, header {
  clear: both;
  width: 100%;
  box-sizing: border-box;
}


footer {
  font-family: Roboto,sans-serif;
  margin-top: 2rem;
}

footer .version {
  font-size: .7rem;
}

.mwb-header {
  margin-bottom: 1rem;
}

.mwb-title {
  flex: 1 1 auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  line-height: 1em;
}

.profile-info {
  flex: 0 0 auto;
  text-align: right;
  line-height: 1.2em;
}

.box-info-project {
  font-family: serif;
  font-style: italic;
}

.box-buttons .name {
  line-height: 35px;
}

.btn-links {
  font-family    : Roboto, sans-serif;
  color          : #888;
  transition     : all .2s;
  cursor         : pointer;
  font-size      : small;
  text-decoration: underline;
  border         : none;
  background     : none;
  padding        : 0;
}

.btn-agree {
  border: 2px solid #37c875;
  width : 100%;
}

.btn-agree:hover {
  border: 2px solid #71c896;
}

.btn-disagree {
  border: 2px solid #d66c4b;
  width : 100%;
}

.btn-disagree:hover {
  border: 2px solid #d79986;
}
