<div class="box-intro">
  <h1>Bot-Intent-Analyse</h1>
</div>

<div class="clear-both">
</div>

<!--<p>Die Diagramme auf dieser Seite zeigen, welche Intents der gewählte Bot im Laufe aller Gespräche mit Nutzern wie häufig verstanden hat.</p>-->
<p>Wähle eine Analyseart, einen Bot und ein Semester, für die die Analyse angezeigt werden soll.</p>

<div class="button-area">

  <div class="d-inline-block" style="float: left; margin-right: 5%" ngbDropdown #myDropAnalysis="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" style="color: #05AAD0" id="dropdownAnalysis" ngbDropdownAnchor (focus)="myDropAnalysis.open()">{{chosenAnalysisButton}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownAnalysis">
      <button ngbDropdownItem (click)="chooseAnalysis('')"><i>{{myCChooseNone}}</i></button>
      <button ngbDropdownItem (click)="chooseAnalysis('IntentverteilungDistinct')">{{myCChooseIntentDistributionDistinct}}</button>
      <button ngbDropdownItem (click)="chooseAnalysis('IntentverteilungAll')">{{myCChooseIntentDistributionAll}}</button>
      <button ngbDropdownItem (click)="chooseAnalysis('Genutzte Pfade')">{{myCChoosePathAnalysis}}</button>
    </div>
  </div>

  <div class="d-inline-block" style="float: left; margin-right: 5%" ngbDropdown #myDropBot="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" style="color: #05AAD0" id="dropdownBot" ngbDropdownAnchor (focus)="myDropBot.open()">{{chosenBot}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownBot">
      <button ngbDropdownItem (click)="chooseBot('')"><i>Keinen auswählen</i></button>
      <div *ngFor="let bot of availableBots">
        <button ngbDropdownItem (click)="chooseBot(bot)">{{bot}}</button>
      </div>
    </div>
  </div>

  <div class="d-inline-block" style="float: left; margin-right: 5%" ngbDropdown #myDropSemester="ngbDropdown">
    <button class="btn btn-outline-primary mr-2" style="color: #05AAD0" id="dropdownSemester" ngbDropdownAnchor (focus)="myDropSemester.open()">{{chosenSemester}}</button>
    <div ngbDropdownMenu aria-labelledby="dropdownSemester">
      <button ngbDropdownItem (click)="chooseSemester('Wintersemester 2021/22')">Wintersemester 2021/22</button>
      <button ngbDropdownItem (click)="chooseSemester('Sommersemester 2022')">Sommersemester 2022</button>
    </div>
  </div>

  <div style="float: left">
    <!--
    <p class="mb-2">Zeitraum:</p>
    <p class="mb-2">von <input type="text" ngbDatepicker #dfrom="ngbDatepicker" [(ngModel)]="modelFrom"
                  (navigate)="date = $event.next" (click)="dfrom.open()" [maxDate]="modelTo"/></p>
    <p class="mb-2">bis <input type="text" ngbDatepicker #dto="ngbDatepicker" [(ngModel)]="modelTo"
                  (navigate)="date2 = $event.next" (click)="dto.open()" [minDate]="modelFrom" [maxDate]="modelToday"/></p>
    -->

    <p><button class="btn" style="color: #05AAD0" (click)="getChart()">Generiere Diagramm</button></p>
  </div>

  <div style="float: left">
    <!--
    <p class="mb-2">Zeitraum:</p>
    <p class="mb-2">von <input type="text" ngbDatepicker #dfrom="ngbDatepicker" [(ngModel)]="modelFrom"
                  (navigate)="date = $event.next" (click)="dfrom.open()" [maxDate]="modelTo"/></p>
    <p class="mb-2">bis <input type="text" ngbDatepicker #dto="ngbDatepicker" [(ngModel)]="modelTo"
                  (navigate)="date2 = $event.next" (click)="dto.open()" [minDate]="modelFrom" [maxDate]="modelToday"/></p>
    -->

    <p><button class="btn" style="margin-left: 4rem" (click)="getLogs()">Hole Logs (nur Entwickler)</button></p>
  </div>

  <ng-container *ngIf="analysisChoiceNotCorrect">
    <p class="red" style="float: left; clear: both">Keine Analyseart ausgewählt!</p>
  </ng-container>
  <ng-container *ngIf="botChoiceNotCorrect">
    <p class="red" style="float: left; clear: both">Kein Bot ausgewählt!</p>
  </ng-container>
</div>

<div class="area-left">
  <div *ngIf = "chosenAnalysis=='IntentverteilungDistinct'">
    <p>Die Intentverteilung für verschiedene Nachrichten stellt dar, welcher Anteil der verschiedenen Nachrichten vom Bot
    (bzw. dem dahinterliegenden Rasa-Server) als welcher Intent interpretiert wurde.</p>
  </div>
  <div *ngIf = "chosenAnalysis == 'IntentverteilungAll'">
    <p>Die Intentverteilung für alle Nachrichten stellt dar, welcher Anteil aller beim Bot eingegangen Nachrichten vom Bot
    (bzw. dem dahinterliegenden Rasa-Server) als welcher Intent interpretiert wurde.</p>
    <p>Geht man davon aus, dass alle Intents korrekt interpretiert wurden, lässt sich so eine Aussage darüber treffen, welche Anliegen
    die Nutzenden wie häufig hatten.</p>
  </div>
  <div *ngIf = "chosenAnalysis == 'Genutzte Pfade'">
    <p>Die "Genutzten Pfade" stellen, vor allem für längere Konversationen, dar, welche Konversationspfade wie häufig beschritten
    wurden.</p>
  </div>
  <div *ngIf = "chosenAnalysis != ''">
    <p>Ausgenommen von der Analyse sind bei allen Analysearten die Konversationen, die Lehrende/Testende mit dem
    Bot geführt haben.</p>
    <p>Aktuell findet die Analyse nicht in Echtzeit statt, d.h. die einbezogenen Daten enthalten evtl. nicht die aktuellsten
    Konversationen des laufenden Semesters.</p>
  </div>
</div>

<div class="area-right">
  <div *ngIf="noPathData" style="margin-top:5%; margin-left: 5%; color: red">
    Es liegen nicht genügend Daten vor, um diese Analyse anzuzeigen.
  </div>
  <div *ngIf = "hasLoaded && chosenAnalysis.indexOf('Intentverteilung') == 0" style="display: block; width: 800px; height: 500px">
    <canvas baseChart
            [data]="pieChartData"
            [labels]="pieChartLabels"
            [chartType]="pieChartType"
            [options]="pieChartOptions"
            [plugins]="pieChartPlugins"
            [legend]="pieChartLegend">
      Bei der Anzeige des Canvas gibt es ein Problem.
    </canvas>
  </div>

  <div *ngIf = "!noPathData && (chosenAnalysis == 'Genutzte Pfade')">
    <div id="visNetwork" #visNetwork></div>
  </div>

  <div *ngIf = "!hasLoaded && isLoading" style="height: 10rem; margin-top: 10rem; text-align: center; font-size: xx-large; color: red">
  Diagramm wird geladen...
  </div>
</div>
