<div class="navigation clear-both">
  <ng-container *ngFor="let item of getNavigationItems() as navigationItems">
    <a *ngIf="item != selected" [routerLink]="['/mentor/resource/', resourceId, item]" class="item">{{getText(item)}}</a>
    <span *ngIf="item == selected" class="item">{{getText(item)}}</span>
  </ng-container>
  <a [routerLink]="['/overview']" class="back-to-overview">zurück zur Übersicht</a>
</div>
