.rocket-chat.box {
  height: 100%;
  min-height    : 20rem;
  background: rgba(5, 170, 208, 0.4);
  padding: .5rem 2rem;
  min-width: 30rem;
}

@media only screen and (min-height: 50rem) {
  .rocket-chat.box {
    min-height  : 30rem;
  }
}

@media only screen and (min-height: 60rem) {
  .rocket-chat.box {
    min-height  : 40rem;
  }
}
