  <div class="rocket-chat box">
    <iframe #mwbIframeRocketChat id="mwbIframeRocketChat"
            [src]="chatUrl"
            frameborder="0" allowfullscreen
    ></iframe>
  </div>
  <button *ngIf="showLogoutButton()" (click)="btnLogout()">Aus dem Chat abmelden</button>
