<div *ngIf="!isValidResource" class="mt-2 ml-4">
  <h1>Fehler</h1>
  <p>Leider haben Sie nicht die richtige Ressource angegeben.</p>
  <p>       
    <a [routerLink]="['/overview/']">Zur Übersicht</a>
  </p>
</div>
