<app-resource-info class="box-intro" 
  [resourceInfo]="resourceInfo" 
  [isValidResource]="isValidResource"
></app-resource-info>

<div *ngIf="isValidResource">
  <app-mentor-view-navigation
    [resourceId]="resourceId" 
    [selected]="selected" 
  ></app-mentor-view-navigation>

  <div class="box">
    <label for="editorName">Bezeichnung</label>
    <input type="text" id="editorName" [(ngModel)]="resourceInfo.name">

    <ul ngbNav #nav="ngbNav" class="mt-4 nav-tabs">
      <li ngbNavItem>
        <a ngbNavLink>Beschreibung</a>
        <ng-template ngbNavContent>
          <angular-editor id="editorDescription" [(ngModel)]="resourceInfo.resourceDetails" 
            [config]="editorConfig"
          ></angular-editor>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav"></div>
    <div class="buttons">
      <a class="btn" [routerLink]="['/mentor/resource/', resourceId, 'interventions']">Abbrechen</a>
      <input class="btn ml-1" type="button" value="Vorschau" (click)="preview()">
      <input class="btn ml-1" type="button" value="Speichern & Schließen" 
        (click)="save()" 
        [routerLink]="['/mentor/resource/', resourceId, 'interventions']"
      >
    </div>
    <div class="clear-both"></div>

    <input class="btn" type="button" value="Mentoring Workbench löschen" 
      (click)="delete()" 
    >
  </div>
</div>

<app-help #help></app-help>
