.tab-content {
  background-color: #f2f2f2;
  border: 2px solid lightgray;
}

.nav-tabs .nav-link.active {
  border-color: gray;
  border-bottom-color: none;
}

label {
  display: block;
  margin-top: 1em;
}

input:not(.btn) {
  width: 100%;
}

.buttons {
  float: right;
  margin-top: 1em;
}

.ml-1 {
  margin-left: 1em;
}

.mt-1 {
  margin-top: 1em;
}

