<ng-template #popupContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Suchergebnisse für '{{searchTerm}}' in {{(item.category ? item.category+': ' : '')+item.name}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>

  <div *ngIf="hasPages()">
    {{pages.length == 1 ? 'Seite' : 'Seiten'}}:
    <span *ngFor="let page of pages; let i = index" [innerHtml]="dummyLinkFor(page, i)" (click)="showPage($event, page)">
    </span>
  </div>

  <div *ngIf="txtContent.length > 0">
    <pre [innerHTML]="txtContent">
    </pre>
  </div>

  <div *ngIf="hasVideoLocations()">
    Fundstellen     
    <span *ngFor="let location of videoLocations; let i = index" [innerHtml]="dummyLinkFor(location, i)" (click)="showVideoLocation($event, i)">
    </span>
  </div>

  <iframe *ngIf="hasIFrame()" frameborder="0" allowFullScreen [src]="iframeUrl" (load)="onIframeLoad()"></iframe>

  <video *ngIf="hasVideo()" id="videoTag" controls autoplay (load)="onVideoLoad()">
    <source [src]="videoUrl" type="video/mp4"/>
    Der verwendete Browser unterstützt leider die Videowiedergabe nicht.
  </video>

</ng-template>
