<app-resource-info class="box-intro" 
  [resourceInfo]="resourceInfo" 
  [isValidResource]="isValidResource"
></app-resource-info>

<div *ngIf="isValidResource">
  <app-mentor-view-navigation
    [resourceId]="resourceId" 
    [selected]="selected" 
  ></app-mentor-view-navigation>

  <div class="box">
    <h4>Neue Intervention erstellen
    <img 
      src="assets/images/question.svg" 
      class="clickable-icon"
      (click)="showHelpForInterventionTypes()"
    >
    </h4>

    <div class="new-intervention" *ngFor="let interventionType of interventionTypes">
      <div class="btn btn-intervention" (click)="createIntervention(interventionType)">
        <div class="cell-middle">
          <h2>{{getLongText(interventionType)}}</h2>
        </div>
      </div>
    </div>
    <div class="clear-both"></div>


    <h4 class="mt-4">Interventionen, die ich betreue</h4>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">zuletzt bearbeitet</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let intervention of interventions">
          <tr>
            <td (click)="toggle(intervention.id)">
              <span [class]="getCollapsedStatus(intervention.id)"></span>
            </td>
            <td>
              {{forceName(intervention.name)}}
            </td>
            <td>
              {{intervention.lastChanged | date }}
            </td>
            <td><a [routerLink]="['/mentor/intervention/', intervention.id]"><img 
                src="assets/images/pencil.svg" 
                class="clickable-icon"
              ></a>
            </td>
            <td><img 
              src="assets/images/garbage-bin.svg" 
              class="clickable-icon"
              (click)="deleteIntervention(intervention)"
            ></td>
          </tr>
          <ng-container *ngIf="isExpanded(intervention.id)">
            <ng-container *ngFor="let interventionItem of getInterventionItems(intervention.id)">
              <tr>
                <td></td>
                <td>&nbsp;&nbsp;{{forceName(interventionItem.name)}}</td>
                <td>
                  {{interventionItem.lastChanged | date }}
                </td>
                <td><a [routerLink]="['/mentor/', getInterventionEnumType(intervention.type), interventionItem.id]"><img 
                    src="assets/images/pencil.svg" 
                    class="clickable-icon"
                  ></a>
                </td>
                <td>
                  {{getVisibilityForItem(intervention, interventionItem)}}
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </ng-container>
      </tbody>
    </table>
  </div>
</div>

<app-help #help></app-help>