
.new-intervention {
  cursor: pointer;
}

.new-intervention .box {
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  line-height: 19px;
  height: 11em; 
  width: 8em;
  float: left;
  display: flex;
  align-items: center;
  padding: 0 2em;
  margin: 1em;
  color: black;
}

.isCollapsed::after {
  content: "\25B8";
}

.isExpanded::after {
  content: "\25BE";
}
