<div class="box page-box">
  <h1>Anmeldung Mentoring Workbench</h1>
  <p>
      Um die Dienste der Mentoring Workbench zu nutzen, loggen Sie sich bitte ein.
      Sie werden dann automatisch zur Mentoring Workbench weitergeleitet.
  </p>
  <p>
      Die Mentoring Workbench nutzt <i>Learning Layers</i> zur Authentifizierung bei allen eingebundenen Diensten.
      Daher ist ein Account bei <i>Learning Layers</i> zwingend notwendig.
  </p>
  <div>
    Für den Login haben Sie folgende Möglichkeiten:
    <ul>
      <li>
        <b>Wir empfehlen Ihnen, sich direkt mit Ihrem Uni-Login anzumelden </b>
        (aktuell nur für Studenierende der <b>Uni Leipzig</b> und der <b>HTWK Leipzig</b> möglich, Anbindung weiterer Institutionen in Arbeit).<br>
        Klicken Sie dazu auf “Login via Learning Layers” und wählen Sie im unteren Bereich der Login-Seite Ihre Institution aus.<br>
        Beim erstmaligen Einloggen wird dann im Hintergrund automatisch ein <i>Learning-Layers</i>-Account erstellt, den Sie für die Nutzung der Angebote benötigen.<br> 
        Sie müssen sich um nichts weiter kümmern. 
      </li>
      <li>
        Alternativ oder falls Ihre Hochschule die Anmeldung über Ihr Uni-Login noch nicht anbietet (<b>TU Dresden</b> und <b>TU Chemnitz</b>),
        können Sie sich auch <b>direkt bei <i>Learning Layers</i> registrieren</b> um einen Learning-Layers-Account anzulegen, mit dem Sie sich
        dann in der Mentoring Workbench anmelden können. <br>
        In diesem Fall bitten wir sie darum, sich dort mit derselben E-Mail-Adresse zu registrieren, mit der Sie
        sich in OPAL bzw. Moodle anmelden, damit ein reibungsloser Datenaustausch möglich ist. Weitere Hinweise siehe unten unter “Hinweise zur Registrierung bei Learning Layers”.
      </li>
      <li>
        Vom <b>Login über Google raten wir ab</b>, da wir auf diese Weise die von Ihnen eingereichten
        Schreibaufgaben nicht korrekt zuordnen können.
      </li>
    </ul>
  </div>

  <div>
    In allen Fällen stimmen Sie der Verarbeitung und Speicherung Ihrer Daten
    (E-Mail Adresse sowie gewählter oder automatisch angelegter Benutzername) bei <i>Learning Layers</i> zu.
  </div>

  <button (click)="login()" type="button" class="btn btn-login">Login via Learning Layers</button>


  <div class="mt-2"><b>Hinweise zur Registrierung bei Learning Layers:</b>
    <ul>
      <li>
        Mit der Registrierung bei <i>Learning Layers</i> stimmen Sie der Verarbeitung und Speicherung Ihrer
        Daten (E-Mail Adresse und Benutzername) bei <i>Learning Layers</i> zu.
      </li>
      <li>
        Wenn Sie noch keinen Account bei <i>Learning Layers</i> haben, ist der einfachste Weg,
        sich direkt über Ihr Uni-Konto anzumelden (aktuell nur für Studenten der Uni Leipzig und der HTWK Leipzig möglich).
      </li>
      <li>
        Alternativ können Sie auch direkt bei <i>Learning Layers</i> einen Account erstellen:<br>
        klicken Sie im Login-Fenster auf "Register"
        oder
        nutzen Sie diesen Link:
        <a href="https://auth.las2peer.org/auth/realms/main/protocol/openid-connect/registrations?client_id=account&response_type=code&scope=email&kc_locale=de?forwardURL=/o/oauth2/login"
          target="_blank">Account registrieren</a>.
        <br/>Dabei sollten Sie jedoch Folgendes beachten: 
        <ul>
          <li>
            Der Nutzername bei <i>Learning Layers</i> <b>muss</b> aus mindestens 4 Zeichen bestehen, um eine reibungslose
            Kommunikation zwischen den Services zu gewährleisten.
          </li>
          <li>
            Bitte registrieren Sie sich mit <b>derselben E-Mail-Adresse</b>, mit der Sie sich in OPAL bzw. Moodle
            anmelden.
          </li>   
        </ul>
      </li>
    </ul>
  </div>
  <p>Bei technischen Problemen wenden Sie sich bitte an <a href="mailto:mwb-support@mailbox.tu-dresden.de">mwb-support@mailbox.tu-dresden.de</a>.</p>
    <!-- Idee (Tamar): irgendwo mal erklären, was Learning Layers überhaupt ist -->
</div>
