label {
  margin: 0 2em 0 .5em;
}

.option {
  margin-bottom: 1em;
}

.option-detail label {
  margin: 0 .5em 0 0;
}

.option-detail input {
  width: 30em;
}

angular-editor {
  display: block;
  background-color: white;
}