<div (focusout)="emitValue()">
  <div class="option">
    <input type="radio" id="infoTextNone" name="infoText" value="none"
      [(ngModel)]="varTextOption"
    >
    <label for="infoTextNone">kein Text</label>
    <input type="radio" id="infoTextEdit" name="infoText" value="text"
      [(ngModel)]="varTextOption"
    >
    <label for="infoTextEdit">Text eingeben</label>
    <input type="radio" id="infoTextUrl" name="infoText" value="url"
      [(ngModel)]="varTextOption"
    >
    <label for="infoTextUrl">Text verlinken</label>
    <input type="radio" id="infoTextUpload" name="infoText" value="file"
      [(ngModel)]="varTextOption"
    >
    <label for="infoTextUpload">Text hochladen</label>
  </div>

  <div class="option-detail ml-2" [ngSwitch]="varTextOption">
    <ng-template [ngSwitchCase]="'text'">
      <angular-editor 
        [(ngModel)]="varTextText" 
        [config]="editorConfig"
      ></angular-editor>
    </ng-template>
    <ng-template [ngSwitchCase]="'url'">
      <label for="editorInfoTextUrl">Link zum Text</label>
      <input type="text" id="editorInfoTextUrl"
        [(ngModel)]="varTextUrl"
      >
    </ng-template>
    <ng-template [ngSwitchCase]="'file'">
      <app-upload-file 
        [(fileName)]="varTextFileName"
      ></app-upload-file>
    </ng-template>
  </div>
</div>
