<app-resource-info
  [resourceInfo]="resourceInfo" 
  [isValidResource]="resourceInfo?.id"
></app-resource-info>

<div *ngIf="resourceInfo?.id">
  <div class="clear-both"></div>

  <div class="box">
    <div *ngIf="showPrivacyStatement()">
    <p [innerHtml]="resourceInfo.privacyStatement"></p>
      <button (click)="agree()" type="button" class="btn btn-agree">Ja, ich habe die Information gelesen und
        stimme
        zu.</button>
      <button (click)="disagree()" type="button" class="btn btn-disagree">Ich habe die Information gelesen und
        stimme
        nicht zu.
      </button>
    </div>

    <div *ngIf="showConfirmStatement()">
      <p [innerHtml]="resourceInfo.confirmStatement"></p>
      <button (click)="cancelRevoke()" type="button" class="btn btn-disagree">Zurück</button>
      <button (click)="revoke()" type="button" class="btn btn-agree">Ja, ich bin mir sicher</button>
    </div>

    <div *ngIf="showDisagreeStatement()">
      <p [innerHtml]="resourceInfo.disagreeStatement"></p>
      <p *ngIf="hasRevoked" [innerHtml]="resourceInfo.removeSuccessStatement"></p>
      <button (click)="cancelRevoke()" type="button" class="btn btn-agree">Ich möchte die Mentoring Workbench
        nutzen.
      </button>
    </div>
  </div>
</div>

