.ml-1 {
  margin-left: 1em;
}

.visibility .box-edit {
  padding-bottom: 2em;
}

.visibility input {
  margin-top: 1em;
  clear: both;
  float: left;
  width: 2em;
}

.visibility label {
  margin-top: 1em;
  float: left;
  width: auto;
}
