<div class="container-box-edit">
  <div class="visibility box-edit">
    <div class="header-for-box-edit">Sichtbarkeit</div>
    <div>
      <input type="radio" id="visibilityNone" name="visibility" value="0"
        [(ngModel)]="visibilityOption" (change)="changeVisibility()"
      >
      <label for="visibilityNone">Gesperrt</label>
      <input type="radio" id="visibilityYes" name="visibility" value="1"
        [(ngModel)]="visibilityOption" (change)="changeVisibility()"
      >
      <label for="visibilityYes">Sichtbar</label>
      <input type="radio" id="visibilityDate" name="visibility" value="2"
        [(ngModel)]="visibilityOption" (change)="changeVisibility()"
      >
      <label for="visibilityDate">Datumsabhängig</label>
    </div>
  </div>
  <app-get-period *ngIf="visibility==2" 
    #period
    [(from)]="from" (fromChange)="changePeriod(period.isValid())"
    [(to)]="to" (toChange)="changePeriod(period.isValid())"
    class="ml-1"
  ><ng-content></ng-content></app-get-period>
</div>
