<div class = "left-column box">
  <div *ngIf="examIsOver">
    <p>{{contentAfterExam}}</p>
    <p *ngIf="!hasExamFeedback">
      <b>Es liegt für Sie kein Feedback vor.</b><br>
      <!--Leider bestehen momentan technische Probleme bei der Erstellung der Feedbacks für einige Studenten. Falls Sie an der Klausur teilgenommen haben und auch die Berechtigung erteilt haben, dass Ihre Daten genutzt werden,
      so sind Sie vermutlich von dem Problem betroffen. Wir arbeiten daran und bitten um Ihr Verständnis.-->
      Wahrscheinlich haben Sie nicht an der Probeklausur
        teilgenommen (oder Sie haben bei der Bearbeitung des Tests keine Berechtigung erteilt, dass Ihre Daten weiterverbeitet werden dürfen).
      Wenn Sie zum ersten Mal auf dieser Seite sind, warten Sie bitte einen Augenblick. Die Erstellung des Feedbacks kann 1-2 Minuten in Anspruch nehmen.
    </p>
 </div>

  <div *ngIf="!examIsOver">
    <p>{{contentBeforeExam}}</p>
  </div>
  <div *ngIf="hasExamFeedback" class="box">
    <p><b>Es liegt ein Feedback für Sie vor: </b>
      <a (click)="downloadFeedbackFile()" class="linkToFile">Feedback-Probeklausur.pdf</a>
    </p>
  </div>

  <div *ngIf="!hasExamFeedback" class="mt-2">
    <p>
      Um Ihnen einen Einblick zu geben, wie ein erweitertes Testfeedback aussehen kann, ist ein Muster-Feedback hinterlegt:
      <a href="/assets/Testfeedback-bsp.pdf" class="linkToFile" download="Muster-erweitertesTestfeedback.pdf">Musteransicht erweitertes Testfeedback</a>
    </p>
  </div>
</div>  

<div class="right-column flex-container">
  <!--
    <div class="box mb-2">
        <div [innerHtml]="interventionInfo.interventionHints | bypassSecurity" class="hintBox"></div>
    </div>
    -->
  <div *ngIf="interventionInfo.helpText" class="box">
    <p class="icon"><img src="assets/images/question.svg" class="icon-img"/></p>
    <p [innerHtml]="interventionInfo.helpText | bypassSecurity"></p>
  </div>
</div>

