<div *ngIf="hideOverview">
  <p>
    Die Übersicht ist derzeit noch im Aufbau.
  </p>
  <p>
    Bitte nutzen Sie den Link in Ihrem Moodle- bzw OPAL-Kurs, um die gewünschte Workbench anzuzeigen.
  </p>
</div>

<div *ngIf="!hideOverview" class="box page-box">
  <div class="maintain">
    <h2>betreut</h2>
    <ul *ngFor="let resource of resourcesToMaintain">
      <li>
        <a [routerLink]="['/mentor/resource/', resource.id, 'interventions']">{{resource.name || 'noch kein Name angegeben'}}</a>
      </li>
    </ul>
    <div *ngIf="mayCreateNewResource">
      <a class="btn" (click)="createResource()">neue MWB erstellen</a>
    </div>
  </div>

  <div class="use">
    <h2>genutzt</h2>
    <ul *ngFor="let resource of resourcesUsed">
      <li>
        <a [routerLink]="['/resource/', resource.id]">{{resource.name}}</a>
      </li>
    </ul>
  </div>

  <div class="clear-both">
  </div>
</div>

<app-help #help></app-help>