.ml-2 {
  margin-left: 2em;
}

.box-label {
  clear: both;
  margin-bottom: -1.1em;
  margin-left: 5em;
}

label {
  display: block;
  margin-top: 1em;
}

input:not(.btn) {
  width: 100%;
}

.float-right {
  float: right;
}

.nav-link img.clickable-icon {
  display: none;
}

.nav-link.active img.clickable-icon {
  display: inline;
}

.tab-content {
  padding: 1em;
  border: 1px solid #dee2e6;
  border-top: none;
}

.tab-content.page {
  border-top: 1px solid #dee2e6;
  margin-top: -1rem;
}


app-get-var-text {
  display: block;
}
