<app-resource-info class="box-intro" 
  [resourceInfo]="resourceInfo" 
  [isValidResource]="isValidResource"
></app-resource-info>

<div *ngIf="isValidResource && isValidIntervention">
  <div class="box-label">Intervention {{interventionInfo.name}}: {{interventionItemsName()}} konfigurieren
  </div>

  <div class="box">
    <label for="editorName">Bezeichnung</label>
    <input type="text" id="editorName" [(ngModel)]="testFeedbackInfo.name">
    <div class="mt-4"></div>

    <ngb-pagination [collectionSize]="pageCnt*10" [(page)]="page" [directionLinks]="false">
      <ng-template ngbPaginationNumber let-p>{{ getPageText(p) }}</ng-template>
    </ngb-pagination>

    <div [ngSwitch]="page" class="tab-content page">
      <!-- Page 1 -->
      <ng-template [ngSwitchCase]="1">
        <app-get-visibility 
          #visibility
          [(visibility)]="examFeedbackInfo.visible"
          [(from)]="examFeedbackInfo.visibleFrom"
          [(to)]="examFeedbackInfo.visibleTo"
        >Bearbeitungszeitraum</app-get-visibility>

            <label>Hier können Sie Informationen für Studierende bereitstellen (wird noch nicht gespeichert)
            <img 
              src="assets/images/question.svg" 
              class="clickable-icon sizeBig"
              (click)="showHelpForInfoText()"
            >
            </label>
            <app-get-var-text class="box-edit"
              [varText]="examFeedbackInfo.infoText"
            ></app-get-var-text>
      </ng-template>

      <!-- Page 2 -->
      <ng-template [ngSwitchCase]="2">
        <ul ngbNav #nav="ngbNav" class="nav-tabs">
          <li ngbNavItem>
            <a ngbNavLink>OPAL</a>
            <ng-template ngbNavContent>        
              <label for="onyxTestId">Verknüpfungslink</label>
              <input type="text" id="onyxTestId" [(ngModel)]="examFeedbackInfo.onyxTestId">
              <p class="mt-4">So finden Sie den Verknüpfungslink:</p>
              <ol>
                <li>Öffnen Sie das Testwerkzeug Onyx.</li>
                <li>Wählen Sie den Test aus.</li>
                <li>Zeigen Sie die Metadaten des Tests an.<br>
                  Aktivieren Sie dazu (bei Bedarf) die Detailansicht.
                </li>
                <li>Kopieren Sie den Identifier.<br/>
                  <i>Beispiel für einen Identifier: idTest56539ea6-e09c-41d9-915d-0b90347d99b0</i></li>
                <li>Fügen Sie den Identifier hier ein.</li>
              </ol>
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>Moodle</a>
            <ng-template ngbNavContent>  
              noch kein Inhalt
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>h5p</a>
            <ng-template ngbNavContent>  
              noch kein Inhalt
            </ng-template>
          </li>
          <li ngbNavItem>
            <a ngbNavLink>...</a>
            <ng-template ngbNavContent>  
              noch kein Inhalt
            </ng-template>
          </li>
        </ul>
        <div class="navOutlet" [ngbNavOutlet]="nav"></div>
      </ng-template>

      <!-- Page 3 -->
      <ng-template [ngSwitchCase]="3">
        <label for="easlitProjectId">Ort der Metadaten auswählen
           (<span class="color-easlit1">EAs.Li</span><span class="color-easlit2">T</span>)
        </label>
        <input type="text" id="easlitProjectId" [(ngModel)]="examFeedbackInfo.easlitProjectId">
        <p class="mt-4">So finden Sie den Verknüpfungslink zu 
          <span class="color-easlit1">EAs.Li</span><span class="color-easlit2">T</span>:
        </p>
        <ol>
          <li>Öffnen Sie Ihr Projekt in 
            <span class="color-easlit1">EAs.Li</span><span class="color-easlit2">T</span>.
          </li>
          <li>Kopieren Sie die Adresse des Projektes aus der Browserzeile und fügen Sie sie hier ein.</li>
        </ol>
      </ng-template>
    </div>

    <div class="mt-2">
      <a class="btn" [routerLink]="['/mentor/intervention/', interventionId]">Abbrechen</a>
      <div class="float-right">
        <input class="btn ml-1" type="button" value="&lt; Zurück" (click)="back()">
        <input class="btn ml-1" type="button" value="Weiter &gt;" (click)="next()">
        <input class="btn ml-1" type="button" value="Speichern & schließen" 
          [routerLink]="['/mentor/intervention/', interventionId]"
          (click)="save()" 
        >
      </div>
    </div>

    <div class="clear-both"></div>
  </div>

  <app-help #help></app-help>
</div>