html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

body {
  margin: .5rem 1rem .5rem 2rem;
}

main {
  line-height: normal;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  color      : #05AAD0;
  font-weight: normal;
}

a {
  text-decoration: underline;
  color          : #05AAD0;
}

p:last-of-type {
  margin-bottom: 0;
}

iframe {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  gap: .5rem .5rem;
}

.flex-container.stretch {
  align-items: stretch;
  align-content: stretch;
}

.left-column, .right-column {
  flex: 1 1 50%;
}

.box {
  font-size: .9rem;
  background   : #FDFDFD;
  box-shadow   : 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  padding      : 1em .5em;
  min-width    : 10rem;
}

.box.page-box {
  padding: 1em 2em;
}

.box h3 {
  font-size  : 18px;
  line-height: 24.51px;
  font-weight: 600;
  margin: 0;
}

.box svg {
  height: 3rem;
}

.pt-1 {
  padding-top: 1em;
}

.pl-1 {
  padding-left: 1em;
}

.ml-4 {
  margin-left: 4em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.blue-text {
  color: #05AAD0;
}

.grey-text {
  color: #848484;
}

.red-text {
  color: red;
}

.clear-both {
  clear: both;
}

.h2 {
  color: #05AAD0;
}

.small-text {
  font-family: 'Roboto', sans-serif;
  font-size  : 0.7rem;
}

.break-space {
  line-height: 20px;
}

/* buttons */
.btn {
  display        : inline-block;
  color          : #888;
  padding        : 0.7em 1.2em;
  margin         : .5em 0;
  font-family    : Roboto, sans-serif;
  text-align     : center;
  transition     : all .2s;
  cursor         : pointer;
  background     : #FDFDFD;
  border         : 2px solid #00C9F8;
  border-radius  : 10px;
  box-shadow     : 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size      : .9em;
  user-select    : none;
  text-decoration: none;
}

.btn:hover {
  border-color: #81ddf1;
}

.box-btn {
  width: 100%;
  font-size      : 1em;
}

.btn-intervention {
  padding    : 0 1em;
  font-family: 'Open Sans', sans-serif;
  font-size  : 14px;
  font-weight: 400;
  line-height: 19px;
  color      : #000;
  /*min-width: 10rem;*/
  width      : 16em;
  height     : 16em;
  margin     : 1em;
  float      : left;
  display    : table;

  /* not draggable */
  -webkit-user-drag: none;
  -khtml-user-drag : none;
  -moz-user-drag   : none;
  -o-user-drag     : none;

}

.btn-intervention h2 {
  font-size  : 20px;
  font-weight: bold;
}

.cell-middle {
  display       : table-cell;
  vertical-align: middle;
  height        : inherit;
  width         : inherit;
}

.icon {
  float               : left;
  text-align          : center;
  height              : 1.5em;
  width               : 1.5em;
  margin: 0;
  padding: 0;
}

.icon img {
  height: 100%;
  width: auto;
  text-align: center;
}

.box .icon {
  margin-right: .5em;
}

.delete-icon {
  cursor: pointer;
  margin-left: .5em;
}

.link-to-file {
  color            : #05AAD0;
  cursor           : pointer;
  text-decoration: none !important;
}

.clickable-icon {
  cursor: pointer;
  margin-left: .5em;
  height: 1em;
  width: auto;
}

.clickable-icon.sizeBig {
  height: 1.5em;
}

.box.add {
  border-radius: 4px;
  min-width: 0;
  width: 40px;
  height: 40px;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-edit {
  padding: 1em;
  background-color: #dddddd;
}

input.box-edit {
  padding: .2em;
}

.header-for-box-edit {
  background-color: white;
  margin: -1em -1em 0 -1em;
}

.container-box-edit {
  display: flex;
  align-items: stretch;
  margin-bottom: 2em;
}


.color-easlit1 {
  color: #8fbb3f;
}

.color-easlit2 {
  color: #4ba2a8;
}


@media only screen and (min-width: 60rem) {
  .box {
    min-width  : 20rem;
  }
  ._container {
      float      : left;
      box-sizing : border-box;
      min-width  : 20rem;
  }
}
