<ng-template #helpContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{windowTitle}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body" [innerHTML]="content">
  </div>
  <div class="modal-body" [innerHTML]="content2">
  </div>
  <div *ngIf="confirm" class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Ok')">Ok</button>
  </div>
</ng-template>

