<h2 class="search-title">Suchmaschine</h2>

<p class="search-description">
  {{interventionInfo.description+(searchInfo?.title ? ' für '+ searchInfo.title : '')}}
</p>

<div *ngIf="!isSearchAvailable">
  Leider ist die Suchmaschine aktuell nicht verfügbar.<br>
  Bitte versuchen Sie es später noch einmal.
</div>

<div *ngIf="isSearchAvailable" class="flex-container">
  <div class="flex-container list-categories">
    <div *ngFor="let main_category of categoriesAssignedToMain; let i = index" class="flex-container main-category">
      <div class="main-category-title">
        <input type="checkbox" id="main_category{{i}}" 
        name="main_category" value="{{i}}"
        (change)="selectMainCategory($event, i)"
        [(ngModel)]="searchMainCategories[i]"
        >
        <label for="main_category{{i}}">&nbsp;{{searchInfo.main_category[i]}}</label><br>
      </div>
      <div class="flex-container categories-items">
        <div *ngFor="let search_category of main_category" class="categories-item">
          <input type="checkbox" id="search_category{{search_category}}" 
            name="search_category" value="{{search_category}}"
            [(ngModel)]="searchCategories[search_category]"
          >
          <label for="search_category{{search_category}}">&nbsp;{{searchInfo?.search_category[search_category]}}</label><br>
        </div>
      </div>
    </div>
  </div>

  <div class="search-input">
    <input type="text" id="searchTerm"
      placeholder="Suchanfrage"
      [(ngModel)]="searchFor"
      (keydown.enter)="search()"
    >
    <button (click)="search()">Suchen</button>
    <p *ngIf="showSearchExample" class="search-example grey-text" [innerHtml]="searchInfo?.examples ? 'z.B. ' + searchInfo.examples + ' ...' : ''"></p>
  </div>

  <div *ngIf="searchedFor" class="flex-container search-results">
    <div>
      <span>Suchergebnisse für </span><span class="search-term">{{searchedFor}}</span>
    </div>
    <div *ngIf="searchResults?.slideList?.length" class="search-results-list ">
      <div class="search-result-items-header">Texte:</div>
      <div class="search-result-items box">
        <div *ngFor="let item of searchResults?.slideList; let i = index" [innerHtml]="item" (click)="showSlideItem($event, i)">
        </div>
      </div>
    </div>
    <div *ngIf="searchResults?.videoList?.length" class="search-results-list">
      <div class="search-result-items-header">Videos:</div>
      <div class="search-result-items box">
        <div *ngFor="let item of searchResults?.videoList; let i = index" [innerHtml]="item" (click)="showVideoItem($event, i)">
        </div>
      </div>
    </div>

    <div *ngIf="!hasSearchResults">
      Keine Suchergebnisse gefunden
    </div>
  </div>
</div>

<app-help #help></app-help>
<mwb-popup-search-result #mwbPopupSearchResult></mwb-popup-search-result>
