.search-title {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0;
}

.search-description {
  margin-bottom: .5em;
}

.search-input {
  flex: 0 0 auto;
}

#searchTerm {
  width: 20em;
}

.search-example {
  font-size: .9em;
  font-style: italic;
}

.list-categories {
  flex-direction: column;
  flex: 0 1 auto;
  line-height: 1.1em;
}

.main-category {
  flex-wrap: wrap;
  row-gap: 0;
}

.main-category-title {
  flex: 0 0 100%;
}

.search-category {
  flex: 1 2 auto;
}

.categories-items {
  flex: 1 1 auto;
  row-gap: 0;
  flex-wrap: wrap;
  align-content: flex-start;
}

.categories-item {
  flex: 0 0 auto;
  display: flex;
  align-items: first baseline;
  flex-wrap: nowrap;
}

.search-results {
  flex: 4 1 auto;
  flex-direction: column;
  row-gap: 0;
  align-content: flex-start;
  align-items: flex-start;
}

.search-results > * {
  margin: 0;
  padding: 0;
  line-height: 1em;
  white-space: nowrap;
}

.search-results .search-term {
  font-weight: bold;
}

.search-results .search-result-items-header {
  font-size: .9em;
  margin: 2px 0;
  font-weight: bold;
}

.search-results .search-result-items {
  max-height: 10em;
  overflow-y: scroll;
}

.search-results .search-result-items.box {
  border-radius: 2px;
  padding: 2px;
}
