<div class="flex-container">
    <intervention-rocket-chat 
        [botName]="botNameRocketChat"
    ></intervention-rocket-chat>
    <div class="bot-info-texts flex-container">
        <intervention-bot-info-texts class="flex-container"
            [interventionInfo]="interventionInfo"
            [botInfo]="botInfo"
        ></intervention-bot-info-texts>

        <intervention-text-analysis-history
            [interventionInfo]="interventionInfo"
        ></intervention-text-analysis-history>
    </div>
</div>
