intervention-rocket-chat {
  flex: 1 1 50%;
}

.bot-info-texts.recordClusterflex-container {
  flex: 1 1 50%;
}

.bot-info-texts.flex-container {
  flex-direction: column;
}


.recordCluster {
  box-shadow   : 0 2px 4px rgb(0 0 0 / 25%);
  border-radius: 15px;
  padding      : .5em 2em;
  font-weight  : 800;
  text-align   : center;
  margin-top   : 1em;
}

.mt-0 {
  margin-top: 0;
}
